/* Add CSS rules to override Primer */

code, pre {
    overflow: scroll;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace !important;
    font-size: 1rem !important;
}